
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penn Tech Review Scheduler</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>

  <body>
    <section class="hero is-info is-bold">
      <div class="hero-body container">
        <h1 class="title" style="display:inline">Post for Me</h1>
        <p style="display:inline; margin-left:0.5rem">by <a href="https://penntechreview.com/">Penn Tech Review</a></p>
        <h2 class="subtitle" style="margin-top:0.2rem">Write and schedule posts for individual Facebook statuses</h2>
      </div>
    </section>
  <section class="section">
    <div class="container" style="width:80%"> 
      <h1 class="title is-paddingless is-marginless">
         📣 All Scheduled Posts 
      </h1>
      <a class="button is-pulled-right is-success" href="/schedulepost">+ Schedule new post</a>
      <br><br><br>
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Post author</th>
            <th>Content</th>
            <th>Status</th>
            <th>Article link</th>
            <th>Scheduled For</th>
            <th>Edit post</th>
          </tr>
        </thead>
        <tbody>
          <%for(let i = 0; i < posts.length; i++){%>
          <tr>
            <td><%= posts[i].poster.firstname %></td>
            <td><%= posts[i].postcontent %></td>
            <td><%= posts[i].fbpostid ? 'Posted' : 'Pending' %></td>
            <td><%= posts[i].articlelink.substring(26) %></td>
            <td><%= posts[i].posttime.toString().substring(0,21) %></td>
            <td><a href="/edit/<%= posts[i].id%>">Edit</a></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
  </section>
  </body>
</html>